<tr>
  <td style="
    padding-bottom: 24px;
    border-bottom: 1px solid #c6c6c6;">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
      <!-- Text section -->
      <tr>
        <td>
          <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
            <tr>
              <td class="main-block__wrap" style="
                padding-bottom: 24px;">
                <p style="
                    margin: 0;
                    font-size: 18px;
                    line-height: 25px;
                    font-weight: 400;
                    color: #727272;">
                  Hello! This is the Octo Team and we would like to tell you how Octo Browser can make your online work
                  more efficient.
                </p>
              </td>
            </tr>
            <tr>
              <td class="main-block__wrap">
                <b style="
                                margin: 0;
                                font-size: 18px;
                                line-height: 25px;
                                font-weight: 700;
                                color: #727272;">
                  Octo Browser can help you to:
                </b>
              </td>
            </tr>
            <tr>
              <td class="main-block__wrap" style="
                padding-bottom: 24px;">
                <ul style="
                                margin: 0;
                                padding: 0;
                                padding-left: 26px;
                                font-size: 18px;
                                line-height: 25px;
                                font-weight: 400;
                                color: #727272;">
                  <li style="
                  padding-bottom: 4px;">Register thousands of accounts on any platform and control them from a single
                    device;</li>
                  <li style="
                  padding-bottom: 4px;">Create and launch hundreds of ad campaigns and forget about bans and platform
                    restrictions;</li>
                  <li style="
                  padding-bottom: 4px;">Scrape data from marketplaces to analyze prices and competitors;
                  </li>
                  <li style="
                  padding-bottom: 4px;">Work in a remote team: Octo Browser lets you transfer profiles and control
                    their access rights;</li>
                  <li style="
                  padding-bottom: 4px;">Configure proxy connections, add tags to profiles, and even spoof your video
                    feed to imitate live streaming.</li>
                </ul>
              </td>
            </tr>
            <!-- Button/link section -->
            <tr>
              <td class="main-block__wrap" style="
                padding-bottom: 24px;">
                <table border="0" cellspacing="0" cellpadding="0" role="presentation">
                  <tr>
                    <td class=" btn" style="
                        background: #1890ff;
                        text-align: center;
                        border-radius: 4px;">
                      <a href="#" title="Ссылка на " target="_blank" rel="noopener" style="
                          text-align: center;
                          font-size: 18px;
                          line-height: 25px;
                          font-weight: 700;
                          color: #ffffff;
                          background: #1890ff;
                          border: 1px solid #1890ff;
                          padding: 15px 20px;
                          text-decoration: none;
                          display: inline-block;
                          border-radius: 4px;">
                        &nbsp;Learn more&nbsp;
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- End Button/link section -->
            <tr>
              <td>
                <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                  <tr>
                    <td class="main-block__wrap">
                      <p style="
                          margin: 0;
                          font-size: 18px;
                          line-height: 25px;
                          font-weight: 400;
                          color: #727272;">
                        Try Octo Browser today!
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- End Text section -->

    </table>
  </td>
</tr>
